/*reset css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}


/* common css */

main {
    max-width: 1300px;
    padding: px;
    margin: auto;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(img/2.png) center center;
    background-size: cover;
    filter: blur(4px);
}

.info {
    margin-left: 9%;
    margin-top: 4%;
    float: left;
}

.album-img img {
    height: 350px;
    width: 360px;
}

.control {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin-top: 20px;
    cursor: pointer;
}

.control span i {
    color: #fff;
    font-size: 30px;
}

.music-panel {
    margin-left: 9%;
    margin-top: 4%;
    float: left;
}

.album-name button {
    border: none;
    outline: none;
    width: 80px;
    height: 25px;
    border-radius: 3px;
    background: #C74D4D;
    color: #fff;
}

.song {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
}

.music-info {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 120px;
}

.sound {
    position: relative;
}

.sound i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.length {
    position: absolute;
    top: 18px;
    left: 30px;
    width: 200px;
    height: 3px;
    background: #aaa;
    display: none;
    cursor: pointer;
}

.circle {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: 198px;
}

.voice {
    position: relative;
    width: 100%;
    height: 3px;
    background: #c70c0c;
}

.process {
    margin-top: 80px;
}

.total {
    position: relative;
    width: 450px;
    height: 3px;
    background: rgba(54, 59, 59, 0.5);
    cursor: pointer;
}

.current {
    position: absolute;
    width: 0%;
    height: 3px;
    background: #c70c0c;
}

.time {
    color: #fff;
    position: absolute;
    top: -6px;
    right: -40px;
}

.author {
    float: right;
    margin-top: 10px;
}

.author p {
    color: #fff;
    font-size: 25px;
}

.songauthor {
    color: #fff;
}

/* 专辑滚动 */
.albums {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 30px;
    background: rgba(224, 219, 219, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
}

.albums li {
    float: left;
    margin: 10px 40px 0 40px;
}

.albums img {
    width: 110px;
    cursor: pointer;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2)
}

.albums li:hover {
    transform: scale(1.1);
}

.left i,
.right i {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.2)
}

.left {
    position: absolute;
    left: 14px;
    top: 50px;
    z-index: 1;
}

.right {
    position: absolute;
    right: 14px;
    top: 50px;
}

.carrousel {
    transform: translateX(0);
    transition: all 1s ease-out;
    width: 3500px;
}
.window {
    height:150px;
    width:1150px;
    overflow: hidden;
    margin: 0 auto;
}